.SwitchRoot {
    width: 42px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    box-shadow: 0 2px 10px black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state='checked'] {
    background-color: rgba(255, 255, 255, 0.1);
}

.SwitchThumb {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translate(-17px, -7px);
    will-change: transform;
}

.SwitchThumb[data-state='checked'] {
    transform: translate(-1px, -7px);
    background: transparent;
    color: #3ec7be;
}

.Label {
    color: white;
    font-size: 15px;
    line-height: 1;
}
