#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 20vh;
    padding: 1rem 1rem 0 1rem;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

p {
    font-size: 0.9rem;
}

.generateBtn {
    margin-top: 1rem;
}

.fileInput {
    display: block;
    margin: 1rem auto;
}

.uploadInputLabel {
    display: block;
    margin: 1em auto;
    font-size: 1.5rem;
    font-weight: 600;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    margin: 2em;
    max-width: 55vw;
}

.card.options {
    text-align: left;
}

.card.options h2 {
    text-align: center;
}

.card.options label {
    margin-left: 10px;
    margin-right: 10px;
}

.read-the-docs {
    color: #888;
}

@media (max-width: 768px) {
    .card {
        max-width: 80vw;
    }
}
